//html {background: white;}

//.container {@media (max-width: $breakpoint-desktop) {padding: 0 30px;}}

//a:link, a:visited {color: $turquoise; @include transition1;}

//a:hover,a:active {color: $coal;}
