@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow|Open+Sans:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barrio|Kirang+Haerang&display=swap');


nav ul li a {
font-family: 'Barrio', cursive;
font-size: 1.9em;
font-variant: all-petite-caps;
font-weight: 800;
letter-spacing: .1em;
text-decoration: none;
color: $d-gry;
  &:hover {
    color: $blue;
    transition-duration: .2s;
    letter-spacing: .3em;
  }
}
