@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow|Open+Sans:300,400,600,700,800&display=swap');

nav ul li a {
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-size: 1.5em;
font-variant: all-petite-caps;
font-weight: 800;
letter-spacing: .1em;
text-decoration: none;
color: $d-gry;
  &:hover {
    color: $green;
    transition-duration: .5s;
  }
}
