body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
section {
  width: 100%;
  height: 200vh;
  margin: 0 auto;
  position: fixed;
}
content {
  display: flex;
  flex-direction: column;
  width: 88%;
  top: 48%;
  height: 72vh;
  position: fixed;
  margin: 0 6%;
  background-color: black;
  opacity: .8;
  z-index: 1;
  &:hover{
    opacity: .9;
  }

  figure.bckg, figure.bckg.logo {
    width: 47%;
    z-index: -1;
    background-color: white;
    margin: 0 auto;
    .background_logo {
      width: 47%;
      margin: 0 24%;
    }
  }

img.background {
  width: 100%;
}
