header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  opacity: .9;
  background: white;
  &:hover {
    transition-duration: .5s;
    opacity: 1;
  }
}

figure.logo {
  width: 13%;
  margin: 1%;
}
img.logo{
  display: flex;
  width: 100%;
}
