header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  opacity: .7;
  background: white;
  &:hover {
    opacity: 1;
  }
}

figure.logo {
  width: 22%;
  margin: 1%;
}
img.logo{
  display: flex;
  width: 100%;
}
