//*************
//COLORS
//*************

$font-black: #333333;
$font-white: #0000B3;


//*************
//BREAKPOINTS
//*************
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;


//*************
//FONT STYLES
//*************
$font-light: ;
$font-book: ;
$font-medium: ;
$font-bold: ;
